.idea/
.DS_Store
.DS_Store?
node_modules/
pack/
dist/
bak/
lib/
coverage/
dwt-*
jest_html_reporters.html
.history/

# 直接书写的单词将同时匹配所有文件或目录，无论位置，比如：dist
# 分隔符：
#     1. 分隔符在开头或中间（或两者皆有）时，将以 .gitignore 文件位置触发进行匹配，匹配时，可以同时匹配文件和目录，比如：a/b 或 /a/b
#     2. 分隔符在结尾时，仅匹配目录，比如：b/或 /a/b/ 或 /a/b/
# 星号： 
#     1. 单个星号（*）可以匹配任意数量的任意字符，但不能匹配分隔符，比如：upload/*.jpg
#     2. 两个星号（**）可以匹配任意数量的任意字符，包括分隔符，比如 **/upload/*.jpg
# 问号： 问号（?）可以匹配单个字符，但不包括分隔符，比如：?.jgp
# 范围：范围声明可以匹配该范围的单个字符，比如：[0-9]*.jpg
# 反向：如果一个规则以!开头，则表示对该规则取反。利用该规则，可以对之前的文件（非目录）匹配结果进行去除，比如：!upload/.gitkeep 去除掉upload目录下的.gitkeep文件
