* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container,
.container-js {
  margin: 30px auto 0;
}

.btn {
  display: inline-block;
  max-width: 200px;
  padding: 5px 15px;
  background-color: #1a7dff;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn:hover {
  background-color: #3d91fe;
}

.detail {
  position: absolute;
  margin-top: 8px;
  max-width: 250px;
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s;
  overflow: hidden;
}

.container:hover .detail {
  grid-template-rows: 1fr;
}

.content {
  background-color: rgb(77, 76, 76);
  min-height: 0;
  color: #ffffff;
  border-radius: 5px;
}

.inner {
  padding: 8px 6px;
}

.detail-js {
  position: absolute;
  max-width: 250px;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: #ffffff;
  background-color: rgb(77, 76, 76);
  border-radius: 5px;
}

.content-js {
  padding: 8px 6px;
}
