* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 5px 15px;
}

.open-btn {
  display: block;
  margin: auto;
}

.native-dialog {
  margin: auto;
  padding: 1em;
  border-radius: 10px;
}

.native-dialog .title {
  text-align: center;
}

.native-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
