* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

.container {
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
}

button {
  position: relative;
  width: 150px;
  height: 50px;
  color: #000;
  font-size: 24px;
  background-color: #72c0dc;
  padding: 3px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
  /* 空心文字: 
    使用 text-shadow 有两大缺陷：
      1. 八个方向不能完全模拟扩散的效果，存在不均匀
      2. 文字 color 无法透明 transparent 
    可以使用 -webkit-text-stroke 来实现真正的文字描边，缺陷是ie不支持。-webkit-text-stroke 是居中描边
    会导致位置变细，如果需要防止变细，则需要绝对定位一个相同的不描边的伪元素，由于是盖上去的，
    因此无法适用透明文字场景（则只能将文字大小稍加增加）。
==
  */
  text-shadow: 1px 0 #0ebeff, 1px 1px #0ebeff, 1px -1px #0ebeff, 0 1px #0ebeff, 0 -1px #0ebeff, -1px 0 #0ebeff,
    -1px 1px #0ebeff, -1px -1px #0ebeff;
}

button:hover {
  color: #fff;
  background-color: #72c0dc;
}

button:hover::before {
  background-color: rgb(255, 35, 35);
}

button::before {
  content: '';
  background-color: rgb(0, 255, 13);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200%;
  height: 200%;
  z-index: -2;
  transform-origin: 0 0;
  animation: rotate 2s infinite linear;
  transition: 0.5s;
}

button::after {
  content: '';
  background-color: #000;
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 2px;
  top: 2px;
  border-radius: 5px;
  z-index: -1;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
