* {
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}

textarea {
  display: block;
  width: 100%;
  outline: #333;
  border: 2px solid #333;
  padding: 3px;
  line-height: 2;
  font-size: 16px;
  resize: none;
}

button {
  padding: 3px 5px;
  border-color: rgb(72, 153, 235);
  border-radius: 3px;
  color: #ffffff;
  background-color: dodgerblue;
}

.novel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.novel p {
  padding: 8px 20px;
  font-size: 16px;
  text-indent: 32px;
}
