* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cebca6;
}

.cup {
  position: relative;
  width: 160px;
  height: 162px;
  .contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: rgba(247, 247, 247, 0.9);
    clip-path: path('m 0 0 q 4.59 145.8 34.425 155.52 c 29.835 8.1 68.85 8.1 96.39 0 q 29.835 -9.72 29.835 -155.52 C 143 11 16 13 0 0 Z');
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 20px;
    background: linear-gradient(63deg, rgba(253, 253, 253, 0.7) 9%, rgba(238, 238, 238, 0.7) 100%);
    border-radius: 50%;
    box-shadow: 
    0 1px 2px 0px rgba(0,0,0, 0.05),
    inset 0 0 1px 2px rgba(0,0,0, 0.05);
  }
}

.content {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50% / 20%;
  color: #fff;
  opacity: 0.94;
  margin-top: -20px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 26px;
    border-radius: 50%;
    opacity: 0.1;
    top: -10%;
    background: white;
    z-index: inherit; 
  }
  &.whiskey {
    background: rgba(207, 129, 39, 0.8);
    height: 43px;
    padding-top: 18px;
    z-index: 6;
  }
  &.espresso {
    height: 64px;
    padding-top: 10px;
    background: #462814;
    z-index: 3;
  }
}