// %tip 占位符，不会包含在编译结果中。
%tip {
  margin: 1em 0;
  font-size: 0.8em;
  opacity: 0.8;
  text-decoration: underline;
}

.tip-msg {
  // @extend 扩展（相当于继承）。
  @extend %tip;
  color: orange;
}

.tip-warning {
  @extend %tip;
  color: orange;
}

.tip-error {
  @extend %tip;
  color: red;
}

.tip-success {
  @extend %tip;
  color: green;
}